.banner {
  display: flex;
  flex-direction: column;
  background-image: url(/images/slider/s1.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner .container {
  min-height: 27em;
  color: #515151;
  /* background: blue; */
}

.hero-banner .container h1:first-child {
  margin-top: 1em;
}
.hero-banner .container h1 {
  font-weight: 500;
}
.hero-banner .container p {
  font-family: "PT Sans";
  font-weight: 500;
  margin-top: 1em;
  width: 64ch;
}

.hero-banner img {
  width: 70%;
  height: auto;
  /* object-fit: cover; */
}

.hero-banner .container {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  margin-top: 2em;
}

.banner-image {
  text-align: center;
  margin-top: 5em;
  /* display: block; */
}

.banner-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* flex-wrap: wrap; */
  /* text-align: center; */
  margin-top: 2em;
}

.red-text {
  color: #f16f7e;
}

.banner-info h1 {
    font-size: 2.5em;
    font-weight: 800;
    align-self: stretch;
}

.banner-info p {
  align-self: stretch;
}
